[Xfce Panel]
Type=X-XFCE-PanelPlugin
Name=Trash Applet
Name[ar]=بريمج المهملات
Name[ast]=Applet de Papelera
Name[be]=Аплет Сьметніцы
Name[bg]=Кошче
Name[bn]=আবর্জনা অ্যাপলেট
Name[ca]=Miniaplicació de paperera
Name[cs]=Applet Koš
Name[da]=Papirkurvsminiprogram
Name[de]=Papierkorbregler
Name[el]=Εφαρμογίδιο απορριμμάτων
Name[en_AU]=Rubbish Applet
Name[en_GB]=Wastebasket Applet
Name[eo]=Forviŝuja Apleto
Name[es]=Complemento de papelera
Name[et]=Prügikast
Name[eu]=Zakarrontzi applet-a
Name[fi]=Roskakorisovelma
Name[fr]=Applet corbeille
Name[gl]=Miniaplicativo do lixo
Name[he]=יישומון אשפה
Name[hr]=Programčić smeće
Name[hu]=Kuka kisalkalmazás
Name[id]=Applet Kotak Sampah
Name[is]=Rusl-smáforrit
Name[it]=Applet cestino
Name[ja]=ゴミ箱アプレット
Name[kk]=Қоқыс шелегі апплеті
Name[ko]=휴지통 애플릿
Name[lt]=Šiukšlinės valdiklis
Name[lv]=Miskastes sīklietotne
Name[ms]=Aplet Tong Sampah
Name[nb]=Papirkurv visning
Name[nl]=Prullenbak-programmaatje
Name[nn]=Papirkorga
Name[oc]=Applet escobilhièr
Name[pa]=ਰੱਦੀ ਐਪਲਿਟ
Name[pl]=Kosz
Name[pt]=Miniaplicação do lixo
Name[pt_BR]=Miniaplicativo da lixeira
Name[ro]=Modul pentru coș
Name[ru]=Корзина
Name[sk]=Aplet koša
Name[sq]=Zbatimthi Hedhurina
Name[sr]=Програмче за смеће
Name[sv]=Papperskorg-applet
Name[te]=ఆప్లెట్‌ను చెత్తలోవెయ్యి
Name[th]=ถังขยะ
Name[tr]=Çöp programcığı
Name[ug]=ئەخلەتخانا قوللانچىقى
Name[uk]=Аплет Смітника
Name[ur]=ردی ایپلیٹ
Name[ur_PK]=ردی ایپلیٹ
Name[vi]=Applet thùng rác
Name[zh_CN]=回收站小程序
Name[zh_HK]=垃圾桶小程式
Name[zh_TW]=垃圾桶小程式
Comment=Display the trash can
Comment[ar]=عرض المهملات
Comment[ast]=Amosar la papelera
Comment[be]=Адлюстраваць зьмест зьметніцы
Comment[bg]=Показване на кошчето
Comment[bn]=আবর্জনা ক্যান প্রদর্শন
Comment[ca]=Mostra la paperera
Comment[cs]=Zobrazovat koš
Comment[da]=Vis papirkurven
Comment[de]=Papierkorb anzeigen
Comment[el]=Προβολή του κάδου απορριμάτων
Comment[en_AU]=Display the rubbish bin
Comment[en_GB]=Display the Wastebasket
Comment[eo]=Montru la rubujon
Comment[es]=Mostrar la papelera
Comment[et]=Prügikasti näitamine
Comment[eu]=Zakarrontzi ahalmenak bistarazi
Comment[fi]=Näytä roskakorin sisältö.
Comment[fr]=Afficher la corbeille
Comment[gl]=Mostrar o colector de lixo
Comment[he]=הצג את פח האשפה
Comment[hr]=Prikaži kantu za smeće
Comment[hu]=A Kuka megjelenítése
Comment[id]=Tampilkan kotak sampah
Comment[is]=Birta ruslafötu
Comment[it]=Mostra il cestino
Comment[ja]=ゴミ箱の中身を表示します
Comment[kk]=Қоқыс шелегін көрсету
Comment[ko]=휴지통을 보여줍니다
Comment[lt]=Rodyti šiukšlinę
Comment[lv]=Attēlot miskasti
Comment[ms]=Paparan tong sampah
Comment[nb]=Vis papirkurven
Comment[nl]=Geef de prullenbak weer
Comment[nn]=Vis papirkorga
Comment[oc]=Afichar l'escobilhièr
Comment[pa]=ਰੱਦੀ ਡੱਬਾ ਵੇਖਾਓ
Comment[pl]=Wyświetla zawartość kosza
Comment[pt]=Mostrar caixote do lixo
Comment[pt_BR]=Exibir a lixeira
Comment[ro]=Arată coșul
Comment[ru]=Отображает корзину на панели
Comment[sk]=Zobrazovať kôš
Comment[sq]=Shfaq kosh hedhurinash
Comment[sr]=Прикажи корпу за смеће
Comment[sv]=Visa papperskorgen
Comment[te]=చెత్తబుట్టని చూపించు
Comment[th]=แสดงถังขยะ
Comment[tr]=Çöp Kutusunu Görüntüle
Comment[ug]=ئەخلەتخانىنىڭ ئىچىنى كۆرسىتىش
Comment[uk]=Показати Смітник
Comment[ur]=ردی ظاہر کریں
Comment[ur_PK]=ردی ظاہر کریں
Comment[vi]=Hiện thùng rác
Comment[zh_CN]=显示回收站
Comment[zh_HK]=顯示垃圾桶
Comment[zh_TW]=顯示垃圾桶
Icon=user-trash
X-XFCE-Module=thunar-tpa
X-XFCE-Internal=FALSE
