[Desktop Entry]
Type=Application
Version=1.0
Name=Mail Recipient
Name[ar]=تم تسليم البريد
Name[ast]=Destinatariu de corréu
Name[be]=Атрымальнік
Name[bg]=Електронна поща
Name[bn]=মেইলের প্রাপক
Name[ca]=Destinatari de correu
Name[cs]=Příjemce elektronické pošty
Name[da]=Postmodtager
Name[de]=E-Mail-Empfänger
Name[el]=Παραλήπτης αλληλογραφίας
Name[en_AU]=Mail Recipient
Name[en_GB]=Mail Recipient
Name[eo]=Ret-poŝt adresato
Name[es]=Destinatario de correo
Name[et]=Saada e-kirjaga
Name[eu]=ePosta
Name[fi]=Postin vastaanottaja
Name[fr]=Destinataire courriel
Name[gl]=Destinatario
Name[he]=נמען דואר
Name[hr]=Primatelj pošte
Name[hu]=Levél címzettje
Name[id]=Penerima Surat
Name[is]=Móttakandi
Name[it]=Destinatario
Name[ja]=メール (添付ファイル)
Name[kk]=Хат алушысы
Name[ko]=메일 수신자
Name[lt]=Laiško gavėjas
Name[lv]=Pasta saņēmējs
Name[ms]=Penerima Mel
Name[nb]=Epost mottaker
Name[nl]=E-mailontvanger
Name[nn]=Mottakar av e-posten
Name[oc]=Destinatari corrièr electronic
Name[pa]=ਪੱਤਰ ਪ੍ਰਾਪਤਕਰਤਾ
Name[pl]=Odbiorca poczty elektronicznej
Name[pt]=Destinatário
Name[pt_BR]=Destinatário do e-mail
Name[ro]=Destinatarul unui mail
Name[ru]=Электронную почту
Name[sk]=Adresár
Name[sq]=Marrës Poste
Name[sr]=Прималац поште
Name[sv]=E-postmottagare
Name[te]=మెయిల్ గ్రహీత
Name[th]=ผู้รับอีเมล
Name[tr]=E-posta Alan
Name[ug]=تاپشۇرۇپ ئالغۇچى
Name[uk]=Одержувач листа
Name[ur]=ڈاک وصول کار
Name[ur_PK]=ڈاک وصول کار
Name[vi]=Người nhận
Name[zh_CN]=邮件收件人
Name[zh_HK]=郵件接收者
Name[zh_TW]=郵件接收者
Icon=internet-mail
Exec=/usr/lib/i386-linux-gnu/Thunar/thunar-sendto-email %F
