[Desktop Entry]
Version=1.0
Type=Application
Name=Create Porteus-boot initrd1.xz
Comment=
Exec=mk-initrd
Icon=mkinitrd
Terminal=false
StartupNotify=false
Categories=System;
