Package: mk-initrd
Priority: optional
Section: utilities
Installed-Size: 2800
Maintainer: fredx181
Architecture: all
Version: 0.0.2
Depends: libc6, xterm, xz-utils, cpio
Description: Create Porteus Boot initrd1.xz and initrd.img from running kernel or other in /lib/modules.
 It's required that the kernel has aufs included (builtin or not)
















