Package: mk-initrd
Priority: optional
Section: utilities
Installed-Size: 2800
Maintainer: fredx181
Architecture: all
Version: 0.0.1
Depends: libc6, xterm, xz-utils, cpio
Description: Create Porteus Boot initrd1.xz from running kernel or other in /lib/modules.
 It's required that the kernel has aufs included (builtin or not)
 Author: Tomas M <http://www.linux-live.org/>
 Modified for creating porteus-boot initrd1.xz by fredx181













