[Desktop Entry]
Version=1.0
Type=Application
Name=Create Porteus-boot initrd1.xz and initrd.img
Comment=
Exec=cr-initrd
Icon=cr-initrd
Terminal=false
StartupNotify=false
Categories=System;
